html, body {
  font-size: 14px;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    clear both;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-image: url("bg.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.main{
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  font-size: 50px;
  color: orange;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 0;
}

.tagline {
  font-size: 32px;
  color: orange;
  font-weight: normal;
}

.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover {
  color: purple;
  background: orange;
}

/*.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 30%;
  background-color:  grey;
}

.maincontent {

  position: fixed;
  background-color: magenta;
  bottom: 0;
  top: 0;
  left: 30%;
  width:  70%;

}*/
